.box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  order: 2;
}

.image {
  height: 40vw;
  display: block;
  border-radius: 20rem;
  overflow: hidden;
  order: 1;
}

.image img {
  height: 100%;
  object-position: 0% 42%;
}

.title4 {
  font-size: 2rem;
  font-family: var(--font-secondary);
  font-weight: 100;
}

.title3 {
  font-size: 2.8rem;
  font-family: var(--font-primary);
  font-weight: 100;
}

.paragraph {
  font-family: var(--font-paragraph);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.item span {
  font-size: 1.4rem;
  font-family: var(--font-secondary);
}

.item.black {
  color: var(--);
}

.childrenEquiposTwo {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.childrenEquiposTwo svg {
  width: 8rem;
  height: auto;
}

.childrenEquiposThree {
}

/* --------------------------------------- */

@media (min-width: 768px) {
  .box {
    grid-template-columns: 2fr 1fr;
  }

  .content {
    width: 80%;
    padding: 0;
    justify-content: center;
  }

  .image {
    height: auto;
  }
}
