.imageWrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 247, 202, 0.15);
  pointer-events: none;
}

.imageWrapper img {
  transition: transform 0.3s ease;
}

.imageWrapper:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
