.container {
  padding: 6rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.block {
  display: grid;
  gap: 1.5rem;
}

.category {
  display: flex;
  background-color: var(--dark-color);
  padding: 3rem 3rem 2rem 3rem;
  color: var(--light-color);
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

:global(.category-1) {
  background-image: url("/images/backgrounds/bg-1.png");
  background-position: bottom;
}

:global(.category-2) {
  background-image: url("/images/backgrounds/bg-2.png");
  background-position: top;
}

:global(.category-3) {
  background-image: url("/images/backgrounds/bg-3.png");
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
  transition: gap 0.3s ease;
}

.content.visible {
  gap: 1.5rem;
}

.title4 {
  font-family: var(--font-primary);
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 100;
  transition: font-size 0.3s ease;
}

.visible .title4 {
  font-size: 2.6rem;
}

.description {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: max-height 0.4s ease, opacity 0.2s ease, visibility 0s linear 0.2s;
}

.visible .description {
  max-height: 30rem;
  opacity: 1;
  visibility: visible;
  transition: max-height 0.4s ease, opacity 0.6s ease 0.2s,
    visibility 0s linear 0s;
}

.paragraph {
  font-family: var(--font-paragraph);
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
}

.image {
  border-radius: 2rem;
  overflow: hidden;
}

.icon {
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  -webkit-user-select: none;
  user-select: none;
}

.iconOpen {
  transform: rotate(0deg);
}

@media (min-width: 768px) {
  .block {
    grid-template-columns: repeat(2, 1fr);
  }

  .image img {
    height: 100%;
  }
  .reverse .category {
    grid-column: 2;
    grid-row: 1;
  }

  .reverse .image {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 160rem;
    padding: 8rem 4rem;
    margin: 0 auto;
  }

  .grid {
    height: 70rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .block {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }
  .reverse .category {
    grid-column: auto;
    grid-row: auto;
  }
}
