.container {
  padding: 8rem 2rem 0 2rem;
  max-width: 160rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.grid > .item:nth-child(even) {
  align-items: flex-end;
}

.grid > .item:nth-child(even) .paragraph {
  text-align: right;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-family: var(--font-primary);
  font-size: 2.2rem;
}

.paragraph {
  font-family: var(--font-paragraph);
  font-size: 1.6rem;
  white-space: pre-line;
  font-weight: 300;
  line-height: 1.4;
}

.icon {
  margin-bottom: -2rem;
}

.icon svg {
  width: 7rem;
  height: auto;
}

.coachImage {
  grid-column: 1/-1;
  width: 60%;
  justify-self: center;
}

@media (min-width: 768px) {
  .container {
    padding: 8rem 4rem 0 4rem;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .coachImage {
    width: 35%;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 8rem 10rem 0 10rem;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 0;
  }
  .grid .item:nth-child(5),
  .grid .item:nth-child(6) {
    margin-bottom: 8rem;
  }

  .coachImage {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 90%;
    justify-self: center;
    align-self: flex-end;
  }
}

@media (min-width: 1480px) {
  .coachImage {
    width: 65%;
  }
}
