.container {
  padding: 8rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
}

/* @media (min-width: 768px) {
  .container {ks
    padding: 8rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 110rem;
    padding: 8rem 4rem;
    margin: 0 auto;
  }
} */
