.container {
  padding: 6rem 2rem;
}

.sliderBox {
  padding: 2rem;
  background-color: var(--dark-color);
}

.sliders {
}
.slider {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
}

.description {
}

.title3 {
  font-size: 2.4rem;
  font-family: var(--font-primary);
  font-weight: 100;
}
.title4 {
  font-size: 1.6rem;
  font-family: var(--font-secondary);
  font-weight: 100;
}

.listBox {
}

.list li {
  color: var(--light-color);
  font-family: var(--font-paragraph);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
}

.iconsBox {
  display: flex;
}

.icons {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .container {
    max-width: 160rem;
    padding: 8rem 4rem;
    margin: 0 auto;
  }
}
