@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap");

:root {
  --dark-color: #001713;
  --light-color: #f5fffd;
  --primary-color: #00f7c8;
  --font-primary: "Anton", sans-serif;
  --font-secondary: "Zen Dots", sans-serif;
  --font-paragraph: "Montserrat", sans-serif;

  --nav-height: 11rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--dark-color);
  background-color: var(--light-color);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.main,
.black-section {
  background-color: var(--dark-color);
}

.main {
  border-radius: 0 0 2rem 2rem;
}

.black-section {
  border-radius: 2rem;
}

.white-bg-section,
.black-bg-section {
  background-image: url("/images/backgrounds/bg-main.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.black-bg-section {
  background-color: var(--dark-color);
}

/* UTILITIES */

.u-text-green {
  color: var(--primary-color);
}

.u-text-white {
  color: var(--light-color);
}

.u-lowercase {
  text-transform: lowercase !important;
}

@media (min-width: 768px) {
  html {
    font-size: 68.75%; /* ≈11px */
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 75%; /* 12px */
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 80%;
  }
}
